In [1]:
print("Hello World")

Hello World

In [2]:
print(5,end="hello world")

5hello world

In [3]:
x=input(10)

105

In [4]:
range(10)

range(0, 10)

# DATA TYPES

In [5]:
str="hello world"

str[1]

In [6]:
str[1]

'e'

In [7]:
str[0:4]

'hell'

In [8]:
basket={'apple','orange','pear','apple','orange','banana'}
print(basket)       # duplicates  are removed

{'apple', 'banana', 'pear', 'orange'}

In [9]:
a=set('abracadabra')
print(a)

{'r', 'b', 'c', 'd', 'a'}

In [10]:
a.add('s')
a

{'a', 'b', 'c', 'd', 'r', 's'}

In [11]:
b=frozenset('abracadarba')
print(b)       # immutable and new elements can not be added

frozenset({'r', 'b', 'c', 'd', 'a'})

In [12]:
list=['123','pip','10.4','3+4i']
list1=['hello world']
list2=(list1*2)
list2
list+list1

['123', 'pip', '10.4', '3+4i', 'hello world']

In [13]:
dic={'name':'red','age':'10'}
print(dic)
print(dic['name'])
print(dic.values())
print(dic.keys())

{'name': 'red', 'age': '10'}
red
dict_values(['red', '10'])
dict_keys(['name', 'age'])

In [14]:
tuple=('123','world')
tuple1=('hello')
print(tuple[0])

123

# INDENTATION

In [15]:
def somefunction(self,a):  
    if a > 5:
        return True
    else:
        return False

In [16]:
def separatefunction(b):
    for i in b:
        if i==3:
            return True
        return False

In [17]:
separatefunction([2,3,5,4,1])

False

# SET

In [18]:
a={1,2,3,4,5}
b={2,1,2,3,6,8,7}
print(a&b)   # intersection
print(a|b)    # union
print(a-b)   # diffrence
print(b-a)
print(a^b)    #symmetric difference
print(b^a)
print(a>=b) #superset
print(b<=a)  #subset
print(a.isdisjoint(b))
print(2 in a)
print(2 not in a)
print(a.add(9))
print(a)
print(a.remove(9))
print(a)
print(a.discard(5))
print(a)

{1, 2, 3}
{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{8, 6, 7}
{4, 5, 6, 7, 8}
{4, 5, 6, 7, 8}
False
False
False
True
False
None
{1, 2, 3, 4, 5, 9}
None
{1, 2, 3, 4, 5}
None
{1, 2, 3, 4}

In [19]:
from collections import counter
counterA=counter([a,k,b,a,v,a,b,s,f,g,a])
counterA

ImportError: cannot import name 'counter' from 'collections' (C:\Users\LENOVO\anaconda3\lib\collections\__init__.py)

In [21]:
len(a)

4

In [27]:
setA={'a','b','b','c'}
print(setA)
listA=['a','b','b','c']
print(listA)

{'a', 'c', 'b'}
['a', 'b', 'b', 'c']

# SIMPLE MATHEMATICAL OPERATOR

In [32]:
from __future__ import division
5/8
5//8

0

In [35]:
from operator import truediv
truediv(4,5)

0.8

In [40]:
a,b=2,3
import operator
a+b
operator.add(a,b)

5

In [45]:
a**b
pow(a,b)
import math
pow(a,b)
pow(2,3,5)  #calculates (2**3)%5 gives remainder when divided by 5

3

In [49]:
import math
import cmath  # complex math
d=9
print(math.sqrt(9))
print(cmath.sqrt(9))    to find sqareroot

3.0
(3+0j)

In [51]:
x=27       # to find cuberoot    1st import math
pow(x,1/3)

3.0

In [60]:
a,b,c=0,1,2
import math
print(math.sin(a))
print(math.cos(b))
print(math.tan(c))
print(math.sinh(b))
print(math.cosh(a))
print(math.atan(c))
print(math.acos(a))

math.hypot(b,c)   # it gives eucliden distance between two points

0.0
0.5403023058681398
-2.185039863261519
1.1752011936438014
1.0
1.1071487177940904
1.5707963267948966

2.23606797749979

In [63]:
print(math.degrees(1))   #to convert radians todegrees
print(math.radians(57.29577951308232))

57.29577951308232
1.0

In [83]:
a=5
a+=2
a
a-=2
a*=8
a//=4
a%=3
a

1

In [84]:
a=7
a+=2
a

9

In [86]:
3*'ab'

'ababab'

In [88]:
3*('a','b')

('a', 'b', 'a', 'b', 'a', 'b')

In [90]:
3*['apple']

['apple', 'apple', 'apple']

In [96]:
print(math.log(5,math.e))  #base is e
print(math.log(1000,10)) # here base is 10. it gives always float values
print(cmath.log(1000,20))

1.6094379124341003
2.9999999999999996
(2.3058653605207224+0j)

In [100]:
a,b=quotient,remainder=divmod(9,4)
a,b

(2, 1)