In [1]:
import pandas as pd
df=pd.read_csv("D:\\DATA_science\\PYTHON_MATERIAL\\Python_session_8.csv")
print(df)

           day  temperature  windspeed  event
0   01/01/2018         32.5          5   rain
1   01/02/2018         31.8          6  sunny
2   01/03/2018         34.0          7  windy
3   01/04/2018         33.0          4   rain
4   01/05/2018         32.0          5  sunny
5   01/06/2018         33.0          7  windy
6   01/07/2018         32.0          6   rain
7   01/08/2018         32.0          5  sunny
8   01/09/2018         34.0          4  windy
9   01/10/2018         23.0          3   rain
10  01/11/2018         24.0          4  sunny
11  01/12/2018         25.0          5  windy
12  01/13/2018         26.0          7   rain
13  01-14-2018         27.0          7  sunny

In [2]:
df.temperature

0     32.5
1     31.8
2     34.0
3     33.0
4     32.0
5     33.0
6     32.0
7     32.0
8     34.0
9     23.0
10    24.0
11    25.0
12    26.0
13    27.0
Name: temperature, dtype: float64

In [3]:
df.describe()

       temperature  windspeed
count    14.000000  14.000000
mean     29.950000   5.357143
std       3.985117   1.336306
min      23.000000   3.000000
25%      26.250000   4.250000
50%      32.000000   5.000000
75%      32.875000   6.750000
max      34.000000   7.000000

In [4]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [5]:
df.tail(10)

           day  temperature  windspeed  event
4   01/05/2018         32.0          5  sunny
5   01/06/2018         33.0          7  windy
6   01/07/2018         32.0          6   rain
7   01/08/2018         32.0          5  sunny
8   01/09/2018         34.0          4  windy
9   01/10/2018         23.0          3   rain
10  01/11/2018         24.0          4  sunny
11  01/12/2018         25.0          5  windy
12  01/13/2018         26.0          7   rain
13  01-14-2018         27.0          7  sunny

In [6]:
df.shape

(14, 4)

In [7]:
print(df['temperature'].max())

34.0

In [8]:
print(df[df['temperature']==df['temperature'].max()])

          day  temperature  windspeed  event
2  01/03/2018         34.0          7  windy
8  01/09/2018         34.0          4  windy

In [9]:
df1=df.reset_index('day',inplace=True)  #to replace original dataframe with new index
print(df1)

KeyError: 'Requested level (day) does not match index name (None)'

In [ ]:
print(df1)

In [ ]:
print(df.iloc[1:6,3])

In [ ]:
df.loc['01/01/2018']

In [ ]:
df

In [ ]:
df2=df

In [ ]:
print(df2.set_index('day',inplace=True))  #to replace original dataframe with new index
print(df2)

In [ ]:
df

In [11]:
print(df[['event','day','temperature']])

    event         day  temperature
0    rain  01/01/2018         32.5
1   sunny  01/02/2018         31.8
2   windy  01/03/2018         34.0
3    rain  01/04/2018         33.0
4   sunny  01/05/2018         32.0
5   windy  01/06/2018         33.0
6    rain  01/07/2018         32.0
7   sunny  01/08/2018         32.0
8   windy  01/09/2018         34.0
9    rain  01/10/2018         23.0
10  sunny  01/11/2018         24.0
11  windy  01/12/2018         25.0
12   rain  01/13/2018         26.0
13  sunny  01-14-2018         27.0

In [14]:
df=pd.read_excel("D:\\DATA_science\\PYTHON_MATERIAL\\Python_session_8.xlsx")
df

                    day  temperature  windspeed  event
0   2018-01-01 00:00:00         32.5          5   rain
1   2018-02-01 00:00:00         31.8          6  sunny
2   2018-03-01 00:00:00         34.0          7  windy
3   2018-04-01 00:00:00         33.0          4   rain
4   2018-05-01 00:00:00         32.0          5  sunny
5   2018-06-01 00:00:00         33.0          7  windy
6   2018-07-01 00:00:00         32.0          6   rain
7   2018-08-01 00:00:00         32.0          5  sunny
8   2018-09-01 00:00:00         34.0          4  windy
9   2018-10-01 00:00:00         23.0          3   rain
10  2018-11-01 00:00:00         24.0          4  sunny
11  2018-12-01 00:00:00         25.0          5  windy
12           01/13/2018         26.0          7   rain
13           01-14-2018         27.0          7  sunny

In [20]:
df.iloc[0:3,]

                   day  temperature  windspeed  event
0  2018-01-01 00:00:00         32.5          5   rain
1  2018-02-01 00:00:00         31.8          6  sunny
2  2018-03-01 00:00:00         34.0          7  windy

In [22]:
# df using dictionary
import pandas as pd
weather_data={
    'day':['1/1/2018','1/2/2018','1/3/2018'],
    'temperature':[32,34,36],
    'windspeed':[6,7,8],
    'event':['rain','sunny','snow']
}
df=pd.DataFrame(weather_data)
print(df)

        day  temperature  windspeed  event
0  1/1/2018           32          6   rain
1  1/2/2018           34          7  sunny
2  1/3/2018           36          8   snow