# LOOps

In [1]:
for variable in range(1,10): 
    print(variable)

1
2
3
4
5
6
7
8
9

In [2]:
list_example=[0,1,2,3,4,5,6]
#for a in list_example:
 #   print(a+2)

for index in range (0,len(list_example)):
    list_example[index]=list_example[index]+2
print(list_example)

[2, 3, 4, 5, 6, 7, 8]

In [3]:
# for loop and if loop
list_example2=["apple","banana","citric","dog","grapes"]
for item in list_example2:
    if item=='dog':
        print("it ia an animal called",item)
    else:
        print("it is a fuit called",item)

it is a fuit called apple
it is a fuit called banana
it is a fuit called citric
it ia an animal called dog
it is a fuit called grapes

In [4]:
#summation of numbers
summation=0
for number in range(0,19):
    summation=summation+number
    print(summation)

0
1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171

# List Comprehensions
### it provide concise way to create lists . it is elegant way to create lists based on other lists

In [5]:
example='notseparatedlist'

In [6]:
#to separate character from above string
list_example=[]
for char in example:
    list_example.append(char)
print(list_example)

#using list comprehensions
print([char for char in example])

['n', 'o', 't', 's', 'e', 'p', 'a', 'r', 'a', 't', 'e', 'd', 'l', 'i', 's', 't']
['n', 'o', 't', 's', 'e', 'p', 'a', 'r', 'a', 't', 'e', 'd', 'l', 'i', 's', 't']

In [7]:
int_list=[1,3,12,3,4,45,23,1,3,44,5,5,10]

In [8]:
[integer for integer in int_list if integer%2==1]

[1, 3, 3, 45, 23, 1, 3, 5, 5]

In [9]:
print(["Even" if integer%2==0 else "Odd" for integer in int_list])

['Odd', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Odd', 'Odd', 'Odd', 'Even', 'Odd', 'Odd', 'Even']

In [10]:
def abc(name):
    print("123",name)

In [11]:
abc("vaijanath")

123 vaijanath

In [12]:
def studentscore(name,score):
    print(name,"scored",score,"Marks")

In [13]:
studentscore("Vivek",86)

Vivek scored 86 Marks

## Python has module named datetime to work with dates and times

In [14]:
import datetime 

datetime_object=datetime.datetime.now()
print(datetime_object)

2021-01-04 11:38:43.752124

In [15]:
date_object=datetime.datetime.today()
print(date_object)

2021-01-04 11:38:43.911922

In [16]:
d=datetime.date(2030,3,27)
print(d)

2030-03-27

In [17]:
from datetime import date
timestamp=date.fromtimestamp(122624310)
print("Date=",timestamp)

Date= 1973-11-20

In [18]:
today=date.today()

print("current year:",today.year)
print("current month:",today.month)
print("current day:",today.day)

current year: 2021
current month: 1
current day: 4

In [19]:
from datetime import time

#time(hour=0,minute=0,second=0)
a=time()
print("a=a",a)

#time(hour,minute and second)
b=time(11,34,56)
print("b=b",b)

#time(hour, minute , and second)
c=time(hour=11,minute=34, second=56)
print("c=",c)

#time(hour,minute,second,microsecond)
d=time(11,34,56,234566)
print("d=",d)

a=a 00:00:00
b=b 11:34:56
c= 11:34:56
d= 11:34:56.234566

In [20]:
## exracting from time

a=time(11,33,56)
print("hour=",a.hour)
print("minute=",a.minute)
print("second=",a.second)
print("microsecond=",a.microsecond)

hour= 11
minute= 33
second= 56
microsecond= 0

# datetime.timedelta

#### A timedelta object represents the difference between two dates or times

In [21]:
from datetime import datetime,date

t1=date(year=1997, month=2, day=14)
t2=date(year=2021, month=1, day=3)
t3=t2-t1
print("t3=",t3)

t3= 8724 days, 0:00:00

In [22]:
import math
t3/365

datetime.timedelta(days=23, seconds=77878, microseconds=356164)

In [23]:
t3.days

8724

In [24]:
type(t3)

datetime.timedelta

In [25]:
t4=datetime(year=1997,month=10,day=24,hour=5,minute=30,second=30)
t5=datetime(year=2021,month=1,day=3,hour=15,minute=40,second=30)
t6=t5-t4
print(t6)
print(type(t6))

8472 days, 10:10:00
<class 'datetime.timedelta'>

In [26]:
t6.total_seconds()

732017400.0

In [27]:
from datetime import datetime
now=datetime.now() # current date and time
print(now)

2021-01-04 11:38:45.777150

In [28]:
# extracting year from date using strftime  reeturns string as output
datetime.strftime(now,'%Y')

'2021'

In [29]:
month=now.strftime("%m")
print(month)
day=now.strftime("%d")
print(day)

01
04

In [30]:
time=now.strftime("%H:%M:%S")
print(time)

11:38:45

In [31]:
# now we will convrt this into US formst
datetime.strftime(now,"%m/%d/%Y %H:%M:%S")

'01/04/2021 11:38:45'

In [32]:
#extracting from timestamp
from datetime import datetime
timestamp=1528797322
date_time=datetime.fromtimestamp(timestamp)

print("Date time object:",date_time)

d=date_time.strftime("%m/%d/%Y,%H:%M:%S")
print(d)

d=date_time.strftime("%d/%b/%Y")
print(d)

d=date_time.strftime("%d/%B/%Y")
print(d)


d=date_time.strftime("%I%p")
print(d)

Date time object: 2018-06-12 15:25:22
06/12/2018,15:25:22
12/Jun/2018
12/June/2018
03PM

In [33]:
from datetime import datetime
date_string="21 June, 2018"

print(date_string)
print("type of date_string=", type(date_string))

date_object=datetime.strptime(date_string,"%d %B, %Y")
print(date_object)
print(type(date_object))

21 June, 2018
type of date_string= <class 'str'>
2018-06-21 00:00:00
<class 'datetime.datetime'>

In [34]:
from datetime import datetime
dt_string="12/11/2018 09:15:32"
  
    # considering date is in dd/mm/yyyy format
dt_object1=datetime.strptime(dt_string,"%d/%m/%Y %H:%M:%S")
print(dt_object1)
    
    # considering date is in mm/dd/yyyy format
dt_object2=datetime.strptime(dt_string,"%m/%d/%Y %H:%M:%S")
print(dt_object2)

2018-11-12 09:15:32
2018-12-11 09:15:32

In [37]:
fh=open("D:\\DATA_science.txt",'w')
fh.writelines("This is line no. 1")
fh.writelines("                 ")
fh.writelines("This is line no. 2")
fh.close()