In [1]:
print("Hello World")

Hello World

In [3]:
print(5,end="hello world")

5hello world

In [5]:
x=input(10)

10

In [9]:
range(10)

range(0, 10)

# DATA TYPES

In [14]:
str="hello world"

str[1]

In [15]:
str[1]

'e'

In [17]:
str[0:4]

'hell'

In [27]:
basket={'apple','orange','pear','apple','orange','banana'}
print(basket)       # duplicates  are removed

{'orange', 'apple', 'banana', 'pear'}

In [30]:
a=set('abracadabra')
print(a)

{'b', 'a', 'r', 'd', 'c'}

In [33]:
a.add('s')
a

{'a', 'b', 'c', 'd', 'r', 's'}

In [39]:
b=frozenset('abracadarba')
print(b)       # immutable and new elements can not be added

frozenset({'b', 'a', 'r', 'd', 'c'})

In [48]:
list=['123','pip','10.4','3+4i']
list1=['hello world']
list2=(list1*2)
list2
list+list1

['123', 'pip', '10.4', '3+4i', 'hello world']

In [57]:
dic={'name':'red','age':'10'}
print(dic)
print(dic['name'])
print(dic.values())
print(dic.keys())

{'name': 'red', 'age': '10'}
red
dict_values(['red', '10'])
dict_keys(['name', 'age'])

In [63]:
tuple=('123','world')
tuple1=('hello')
print(tuple[0])

123

# INDENTATION

In [71]:
def somefunction(self,a):  
    if a > 5:
        return True
    else:
        return False

In [79]:
def separatefunction(b):
    for i in b:
        if i==3:
            return True
        return False

In [80]:
separatefunction([2,3,5,4,1])

False

# SET

In [111]:
a={1,2,3,4,5}
b={2,1,2,3,6,8,7}
print(a&b)   # intersection
print(a|b)    # union
print(a-b)   # diffrence
print(b-a)
print(a^b)    #symmetric difference
print(b^a)
print(a>=b) #superset
print(b<=a)  #subset
print(a.isdisjoint(b))
print(2 in a)
print(2 not in a)
print(a.add(9))
print(a)
print(a.remove(9))
print(a)
print(a.discard(5))
print(a)

{1, 2, 3}
{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{8, 6, 7}
{4, 5, 6, 7, 8}
{4, 5, 6, 7, 8}
False
False
False
True
False
None
{1, 2, 3, 4, 5, 9}
None
{1, 2, 3, 4, 5}
None
{1, 2, 3, 4}

In [112]:
from collections import counter
counterA=counter([a,k,b,a,v,a,b,s,f,g,a])
counterA