In [3]:
fh=open("D:\\DATA_science.txt",'r')
print(fh.readline())
fh.close()

This is line no. 1                 This is line no. 2

In [30]:
pip install bs4
pip insatll lxml

SyntaxError: invalid syntax (<ipython-input-30-11c8584c474c>, line 1)

In [27]:
import bs4 as bs
import urllib.request
sauce=urllib.request.urlopen("https://timesofindia.indiatimes.com")
soup=bs.BeautifulSoup(sauce,'lxml')

#print(sauce)
#print(soup)
print(soup.title)

<title>News - Latest News, Breaking News, Bollywood, Sports, Business and Political News | Times of India</title>

In [32]:
double=lambda x:x*2
print(double(5))

10

In [34]:
def double(x):
    return x*2
print(double(4))

8

In [36]:
#Progrm to filter out only the even items from a list
my_list=[1,3,5,4,6,2,3,34,12,45,65,43,1,4,1,7,18,15,14]

new_list=list(filter(lambda x:(x%2==0),my_list))

print(new_list)

[4, 6, 2, 34, 12, 4, 18, 14]

In [38]:
#Progrm to filter out only the even items from a list
my_list=[1,3,5,4,6,2,3,34,12,45,65,43,1,4,1,7,18,15,14]

new_list=list(map(lambda x:(x%2==0),my_list))

print(new_list)

[False, False, False, True, True, True, False, True, True, False, False, False, False, True, False, False, True, False, True]

In [41]:
#Progrm to duble each item in  a list
my_list=[1,3,5,4,6,2,3,34,12,45,65,43,1,4,1,7,18,15,14]

new_list=list(map(lambda x: x*2 , my_list))

print(new_list)

[2, 6, 10, 8, 12, 4, 6, 68, 24, 90, 130, 86, 2, 8, 2, 14, 36, 30, 28]

In [52]:
import re

NameAge='''
Janice is 22 and Theon is 33 Amit 22
Gabrial is 44 and Joi is 41 Sundar 44
'''
ages=re.findall(r'\d{1,3}',NameAge)
names=re.findall(r'[A-Z][a-z]*',NameAge)

print(ages)
print(names)

agedict={}

x=0

for eachname in names:
    agedict[eachname]=ages[x]
    x+=1
    
print(agedict)

['22', '33', '22', '44', '41', '44']
['Janice', 'Theon', 'Amit', 'Gabrial', 'Joi', 'Sundar']
{'Janice': '22', 'Theon': '33', 'Amit': '22', 'Gabrial': '44', 'Joi': '41', 'Sundar': '44'}

In [55]:
import re

#\w [a-zA-Z0-9]
#\w [^a-zA-Z0-9]

phone="415-775-8547"

# if re.search("\w{3}-\w{3}-\w{4}" , phone):
if re.search("\d{3}-\d{3}-\d{4}" , phone):
        print("Its a phone number")
else:
    print("Its not a valid phone number")

Its a phone number

In [58]:
from re import findall

url="http://www.summet.com/dmsi/html/codesamples/addresses.html"

response = urllib.request.urlopen(url)
html = response.read()
#print(html)
htmlstr = html.decode()
#print(htmlstr)

pdata=findall("\(\d{3}\) \d{3}-\d{4}", htmlstr)

for item in pdata:
    print(item)

(257) 563-7401
(372) 587-2335
(786) 713-8616
(793) 151-6230
(492) 709-6392
(654) 393-5734
(404) 960-3807
(314) 244-6306
(947) 278-5929
(684) 579-1879
(389) 737-2852
(660) 663-4518
(608) 265-2215
(959) 119-8364
(468) 353-2641
(248) 675-4007
(939) 353-1107
(570) 873-7090
(302) 259-2375
(717) 450-4729
(453) 391-4650
(559) 104-5475
(387) 142-9434
(516) 745-4496
(326) 677-3419
(746) 679-2470
(455) 430-0989
(490) 936-4694
(985) 834-8285
(662) 661-1446
(802) 668-8240
(477) 768-9247
(791) 239-9057
(832) 109-0213
(837) 196-3274
(268) 442-2428
(850) 676-5117
(861) 546-5032
(176) 805-4108
(715) 912-6931
(993) 554-0563
(357) 616-5411
(121) 347-0086
(304) 506-6314
(425) 288-2332
(145) 987-4962
(187) 582-9707
(750) 558-3965
(492) 467-3131
(774) 914-2510
(888) 106-8550
(539) 567-3573
(693) 337-2849
(545) 604-9386
(221) 156-5026
(414) 876-0865
(932) 726-8645
(726) 710-9826
(622) 594-1662
(948) 600-8503
(605) 900-7508
(716) 977-5775
(368) 239-8275
(725) 342-0650
(711) 993-5187
(882) 399-5084
(287) 755-9948
(659) 551-3389
(275) 730-6868
(725) 757-4047
(314) 882-1496
(639) 360-7590
(168) 222-1592
(896) 303-1164
(203) 982-6130
(906) 217-1470
(614) 514-1269
(763) 409-5446
(836) 292-5324
(926) 709-3295
(963) 356-9268
(736) 522-8584
(410) 483-0352
(252) 204-1434
(874) 886-4174
(581) 379-7573
(983) 632-8597
(295) 983-3476
(873) 392-8802
(360) 669-3923
(840) 987-9449
(422) 517-6053
(126) 940-2753
(427) 930-5255
(689) 721-5145
(676) 334-2174
(437) 994-5270
(564) 908-6970
(577) 333-6244
(655) 840-6139